# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# IDE files
.idea/
*.iml
*.iws
*.ipr
*.iml
.classpath
.project
.c9/
*.launch
.loadpath
.settings/
*.sublime-workspace

# Android Studio files
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db
